<a class="btn btn-small" ng-click="showSummary()"><i class="icon-tag"></i> Sales Summary</a>

<div ng-repeat="warehouse in board.warehouses">
  <h3>{{warehouse.name}}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Grade</th>
        <th>Available</th>
        <th>Sold</th>
        <th>Inventory</th>
        <th ng-repeat="salesperson in board.salespeople">{{salesperson.name}}</th>
        <th>Average Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="grade in warehouse.grades" ng-class="{error: availableCount(grade) < 0 }">
        <td>{{grade.name}}</td>
        <td>{{availableCount(grade)}}</td>
        <td>{{totalSales(grade)}}</td>
        <td>{{grade.total}}</td>
        <td ng-repeat="salesperson in board.salespeople">{{salespersonSales(grade, salesperson)}}</td>
        <td>{{averagePrice(grade) | currency}}</td>
        <td>
          <button type="button" class="btn" data-unique="1" bs-popover="'/assets/templates/boards/sale.html'" data-title="Sale of {{grade.name}}" data-placement="right" ng-controller="SaleCtrl" ng-init="sale.grade_id = grade.id; sale.user_id = current_user.id;">Sell!</button>
        </td>
      </tr>
      <tr class="info">
        <td>Totals:</td>
        <td>{{available(warehouse)}}</td>
        <td>{{sold(warehouse)}}</td>
        <td>{{total(warehouse)}}</td>
        <td ng-repeat="salesperson in board.salespeople">{{salespersonTotal(warehouse, salesperson)}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
